@{
    ViewBag.Title = "The Calories Counter";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This small program will caluate te caluate the calories that a person eats in one day and tally them up.
            </p>
        </div>
    </section>
}
<h3>How it works:</h3>
<ol class="round">
    <li class="one">
        <h5>Add Meals</h5>
        Add all the meals you would eat(or as you eat them) and the corrsponding calories.
    </li>

    <li class="two">
        <h5>Daily Digest</h5>
        Add meals you have consumed to your daily digest to add to your dailiy calorie count.
    </li>

    <li class="three">
        <h5>Keep track</h5>
        Keeping track fo the calories ove time will show your trend.
    </li>
</ol>
